#title-div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    Color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#description-div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    Color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter
}

#button-section{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    Color: #000000;
    border: 1px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding: 40px;
}

body {
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 500px;
    height: 800px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
    background: #222522;
    overflow: hidden;
}

form input {
    width: 93%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000000;
    text-align: right;
    pointer-events: none;
}


button {
    flex: 0 0 22%;
    margin: 5px 0;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.btn-yellow {
    background: rgb(245, 146, 62);
    color: #fff;
}
.btn-grey {
    background: rgb(224, 224, 224);
    color: #000;
}
.btn-equal {
    background: green;
    color: #fff;
}
.btn-clear {
    background: red;
    color: #fff;
}